.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #b4b4b4;
  height: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #1f7bb4;
  cursor: pointer; 
}
